

/*Estilos Gerais*/
body, figure, img, div, header, nav, main, ul, li, p, h1, h2, section, a, footer, article{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: 'Roboto', sans-serif;

}
/*body{

    background: #141414;

}*/

figcaption{

    display:none;

}
img{

    max-width: 1200px;

}

/*Estilo do Cabeçalho*/
.cabecalho{

    background-color: #141414;
    padding: 16px 0px;

}

/*Estilo do Logo*/
.cabecalho .cabecalho__logo{

    text-align: center;

}
.cabecalho .cabecalho__logo img{}

/*Estilo do Menu*/
.cabecalho .cabecalho__menu, .cabecalho .cabecalho__menuConfiguracao{

    display: none;

}
.cabecalho .cabecalho__menu ul{}
.cabecalho .cabecalho__menu ul li{}
.cabecalho .cabecalho__menu a{}

/*Estilo Área de Configuração*/
main{

    background-color: #141414;

}

/*Estilo Seção Destaque*/
.secaoDestaque{

    background-image: url(../img/destaque.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px 20px 22px;

}

.secaoDestaque .secaoDestaque__imagemDestaque{

    display: none;

}

.secaoDestaque .secaoDestaque__imagemDestaque img{

    width: 100%;
    max-width: 180px;

}

.secaoDestaque .secaoDestaque__descricaoDestaque h1{}
.secaoDestaque .secaoDestaque__descricaoDestaque p{

    margin: 10px 0;
    font-size: 1rem;

}

.secaoDestaque .secaoDestaque__descricaoDestaque img{

    width: 100%;

}

.secaoDestaque .secaoDestaque__descricaoDestaque{

    color: white;

}
.secaoDestaque .secaoDestaque__descricaoDestaque a{}

.secaoDestaque .secaoDestaque__navegacaoDestaque a{

    font-size: 0.8rem;
    background-color: white;
    color: black;
    padding: 7px 15px;
    border-radius: 3px;
    display: inline-block;

}


/*Estilo Secao Filmes*/
.secaoFilmes{

    color: #E5E5E5;
    padding: 0 20px;
    overflow-x: hidden;
}

.secaoFilmes__listaFilmes {

    display: flex;
    flex-wrap: nowrap;

}

.secaoFilmes__listaFilmes li{

    margin-right: 10px;

}

.secaoFilmes h2{}
.secaoFilmes .secaoFilmes__listaFilmes {

   
    

}
.secaoFilmes .secaoFilmes__listaFilmes ul{}
.secaoFilmes .secaoFilmes__listaFilmes ul li{}
.secaoFilmes .secaoFilmes__listaFilmes ul li figure{}
.secaoFilmes .secaoFilmes__listaFilmes ul li img{}


/*Estilo Rodapé*/
.rodape
.rodape .rodape__midiasSociais{}
.rodape .rodape__midiasSociais ul{}
.rodape .rodape__midiasSociais ul li{}
.rodape .rodape__midiasSociais ul a{}
.rodape .rodape__midiasSociais ul img{}

.rodape .rodape__menuNavegacao{}
.rodape .rodape__menuNavegacao ul{}
.rodape .rodape__menuNavegacao ul li{}
.rodape .rodape__menuNavegacao ul li a{}

.rodape .rodape__linkCodigo{}
.rodape .rodape p{}